
body{
    background-color: lightblue;
    background-size: cover;
}
.main-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
}
.main-nav a {
    color: black;
    text-decoration: none;
    padding: 1rem;
 }
.main-nav a:hover{
    color: rgb(3, 3, 241);
}
#logo{
    background-color: green;
    overflow: hidden;
    text-align: left;
    margin-top: 1rem;
}
#logo img{
    height: 80px;
    background-color: blue;
}
#info{
    text-align: right;
}
.row{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    justify-content: space-around;
}
h4{
    color: blue;
    font-style: initial;
}
#services{
    font-size: larger;
    color:black;
    text-align: center;
}
.main-footer{
    list-style: none;
    height: 70px;
    background-color: green;
    font-weight: inherit;
    background-size: cover;
    text-decoration: none;
    justify-content: space-between;
} 
.container{
    text-align: center;
    font-size: 18px;
    text-emphasis-color: inherit;
}
#category select{
    font-style: italic;
    background-color:white;
}
.fa{
    font-size: medium;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    }
.fa-facebook{
    color: white;
    background-color: blue;
}
.fa-instagram{
    color:white;
    background-color: red;
}
.fa-twitter{
    color:white;
    background-color:lightskyblue;
}
.terms{
    font-style: italic;
    text-align-last: center;
    font-size: 13px;
    color: white;
}
#About{
    text-align:center;
    
}
