
#category select{
    font-style: italic;
    background-color:white;
}
.fa{
    font-size: medium;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    }
.fa-facebook{
    color: white;
    background-color: blue;
}
.fa-instagram{
    color:white;
    background-color: red;
}
.fa-twitter{
    color:white;
    background-color:lightskyblue;
}
.terms{
    font-style: italic;
    text-align-last: center;
    font-size: 13px;
    color: white;
}
#About{
    text-align:center;
    
}
