
#category select{
    font-style: italic;
    background-color:white;
}
.terms{
    font-style: italic;
    text-align-last: center;
    font-size: 13px;
    color: white;
}
#About{
    text-align:center;
}