body{
    background-image: url(/images.css/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h4{
    display: flex;
    justify-content: center;
}
.main-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
}
.main-nav a {
    color: black;
    text-decoration: none;
    padding: 1rem;
 }
.main-nav a:hover{
    color: rgb(3, 3, 241);
}
.join-form{
    /* background-color:blue; */
    align-items: inherit;
    width: 50vw;
    max-width:50%;
    padding: 2rem 4rem;
    border-radius: 20px;
    align-items: flex-end;
}
#forms{
    justify-content: center;
    align-content: center;
    align-items: baseline;
}
.input-group{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.input-group:last-child{
    margin-bottom: 0;
} 
 .input-group label{
    font-weight: bold;
    margin-bottom: .5rem;
}
.input-group input{
    outline: none;
    background:none;
    border: 1px solid blue;
    font-size: 1em;
    padding: .53em;
    color:white;
    border-radius: 5px;
}
.input-group input:focus{
    border-color:white ;
}
.main-footer{
    list-style: none;
    height: 70px;
    background-color: green;
    font-weight: inherit;
    background-size: cover;
    text-decoration: none;
}

.bic{
    margin-left: 60px;
}

.container{
    text-align: center;
    font-size: 18px;
    text-emphasis-color: inherit;
}
.fa{
    font-size: medium;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    }
.fa-facebook{
    color: white;
    background-color: blue;
}
.fa-instagram{
    color:white;
    background-color: red;
}
.terms{
    font-style: italic;
    text-align-last: center;
    font-size: 13px;
    color: white;
}
.product-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.product-wrapper .product{
    margin: 20px 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}
.product-wrapper .product img{
    width: 300px !important;
    height: 300px;
    margin: 0;
    padding: 0;
}
.product-wrapper .product p{
    padding-left:10px
}