
body{
    background-color: lightcoral;
    background-repeat: no-repeat;
    background-size: cover; */
}
#landline{
    text-align: center;
}
h4{
    display: flex;
    justify-content: center;
}
.main-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 30%;
}
.main-nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
 }
.main-nav a:hover{
    color: rgb(3, 3, 241);
}
.join-form{
    align-items: inherit;
    width: 50vw;
    max-width:50%;
    padding: 2rem 4rem;
    border-radius: 20px;
    align-items: flex-end;
}
#forms{
    justify-content: center;
    align-content: center;
    align-items: baseline;
}
.input-group{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.input-group:last-child{
    margin-bottom: 0;
} 
 .input-group label{
    font-weight: bold;
    margin-bottom: .5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
  li {
    float: left;
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  li a:hover {
    background-color: #111;
}
.input-group input{
    outline: none;
    background:none;
    border: 1px solid white;
    font-size: 1em;
    padding: .53em;
    color:white;
    border-radius: 5px;
}
.input-group input:focus{
    border-color:white ;
}
.extra{
    margin-bottom: 50vh;
}
footer{
    justify-content: space-around;
    display: flex;
    background-color:lightblue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50%;
}

.bic{
    margin-left: 60px;
}
.terms{
    font-style: italic;
    text-align-last: center;
    font-size: 13px;
    color: white;
}
.product-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.product-wrapper .product{
    margin: 20px 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}
.product-wrapper .product img{
    width: 200px !important;
    height: 200px;
    margin: 0;
    padding: 0;
}
.product-wrapper .product p{
    padding-left:10px
}
.input-group{
    color: white;
}